In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
import re
from datetime import datetime
from matplotlib import dates as mdates
from bs4 import BeautifulSoup as bs

print('종목을 불러오고 있습니다...')
code_df = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13')[0]
code_df.종목코드 = code_df.종목코드.map('{:06d}'.format)
code_df

종목을 불러오고 있습니다...

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,AJ네트웍스,095570,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,손삼달,http://www.ajnet.co.kr,서울특별시
1,BNK금융지주,138930,기타 금융업,금융지주회사,2011-03-30,12월,빈대인,http://www.bnkfg.com,부산광역시
2,DSR,155660,1차 비철금속 제조업,합섬섬유로프,2013-05-15,12월,홍석빈,http://www.dsr.com,부산광역시
3,GS,078930,기타 금융업,지주회사/부동산 임대,2004-08-05,12월,"허태수, 홍순기 (각자 대표이사)",NaN,서울특별시
4,HDC현대산업개발,294870,건물 건설업,"외주주택, 자체공사, 일반건축, 토목 등",2018-06-12,12월,"최익훈, 정익희, 김회언 (각자 대표이사)",http://www.hdc-dvp.com,서울특별시
...,...,...,...,...,...,...,...,...,...
2589,지앤이헬스케어,299480,기타 섬유제품 제조업,면생리대,2018-06-29,12월,장영민,http://www.hannahpad.com,경기도
2590,카이바이오텍,446600,의약품 제조업,방사성 진단 및 치료 의약품,2022-12-23,12월,김영덕,http://www.kaibiotech.com/,전라북도
2591,코스텍시스템,169670,특수 목적용 기계 제조업,"반도체 웨이퍼 이송장비, 본딩장비",2022-01-21,12월,배준호,http://www.kosteks.com/,경기도
2592,타임기술,318660,소프트웨어 개발 및 공급업,"ILS(종합군수지원), IETM(전자식기술교범), CBT(전자식교보재), 기술번역",2021-06-24,12월,주양효,http://timett.co.kr,경상남도
2593,한국미라클피플사,331660,기타 화학제품 제조업,"은나노스텝, 닥터오렌지 등",2019-10-28,12월,이호경,http://www.kmpc.co.kr,경기도

In [2]:
code_df = code_df[['회사명', '종목코드']]
stock_list = code_df.values.tolist()
print('종목을 불러왔습니다.')

tmp = input('종목 코드 혹은 이름을 입력하세요: ')
try:
    if re.match(r'^\d{6}$', tmp):
        code = tmp
        title = list(filter(lambda x: x[1] == code, stock_list))[0][0]
    else:
        code = list(filter(lambda x: x[0] == tmp, stock_list))[0][1]
        title = tmp
except IndexError:
    print('종목을 찾을 수 없습니다.')
    exit()

print(f'찾은 것: {title}({code})')

headers = {'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36'}
df = pd.DataFrame()
sise_url = f'https://finance.naver.com/item/sise_day.nhn?code={code}'  
for page in range(1, 100):
    page_url = '{}&page={}'.format(sise_url, page)

    print(f'page: {page} / 99')

    # 위에서 했던 일련의 과정들을 각 url에 대해서 (99페이지에 대해서 반복)
    response = requests.get(page_url, headers=headers)
    html = bs(response.text, 'html.parser')
    html_table = html.select("table")
    table = pd.read_html(str(html_table))

    # 현재 얻은 데이터프레임을 기존 데이터프레임에 누적.
    df = df._append(table[0].dropna())

df = df.dropna()
df = df.iloc[0:30] 
df = df.sort_values(by='날짜')

df

종목을 불러왔습니다.
찾은 것: 삼성중공업(010140)
page: 1 / 99
page: 2 / 99
page: 3 / 99
page: 4 / 99
page: 5 / 99
page: 6 / 99
page: 7 / 99
page: 8 / 99
page: 9 / 99
page: 10 / 99
page: 11 / 99
page: 12 / 99
page: 13 / 99
page: 14 / 99
page: 15 / 99
page: 16 / 99
page: 17 / 99
page: 18 / 99
page: 19 / 99
page: 20 / 99
page: 21 / 99
page: 22 / 99
page: 23 / 99
page: 24 / 99
page: 25 / 99
page: 26 / 99
page: 27 / 99
page: 28 / 99
page: 29 / 99
page: 30 / 99
page: 31 / 99
page: 32 / 99
page: 33 / 99
page: 34 / 99
page: 35 / 99
page: 36 / 99
page: 37 / 99
page: 38 / 99
page: 39 / 99
page: 40 / 99
page: 41 / 99
page: 42 / 99
page: 43 / 99
page: 44 / 99
page: 45 / 99
page: 46 / 99
page: 47 / 99
page: 48 / 99
page: 49 / 99
page: 50 / 99
page: 51 / 99
page: 52 / 99
page: 53 / 99
page: 54 / 99
page: 55 / 99
page: 56 / 99
page: 57 / 99
page: 58 / 99
page: 59 / 99
page: 60 / 99
page: 61 / 99
page: 62 / 99
page: 63 / 99
page: 64 / 99
page: 65 / 99
page: 66 / 99
page: 67 / 99
page: 68 / 99
page: 69 / 99
page: 70 / 99
page: 71 / 99
page: 72 / 99
page: 73 / 99
page: 74 / 99
page: 75 / 99
page: 76 / 99
page: 77 / 99
page: 78 / 99
page: 79 / 99
page: 80 / 99
page: 81 / 99
page: 82 / 99
page: 83 / 99
page: 84 / 99
page: 85 / 99
page: 86 / 99
page: 87 / 99
page: 88 / 99
page: 89 / 99
page: 90 / 99
page: 91 / 99
page: 92 / 99
page: 93 / 99
page: 94 / 99
page: 95 / 99
page: 96 / 99
page: 97 / 99
page: 98 / 99
page: 99 / 99

            날짜      종가    전일비      시가      고가      저가         거래량
13  2023.04.13  5470.0  100.0  5400.0  5470.0  5340.0   5743060.0
12  2023.04.14  5660.0  190.0  5530.0  5760.0  5470.0  11186235.0
11  2023.04.17  5660.0    0.0  5670.0  5780.0  5590.0   6142330.0
10  2023.04.18  5680.0   20.0  5680.0  5720.0  5610.0   4655691.0
9   2023.04.19  5760.0   80.0  5680.0  5840.0  5670.0   7565270.0
5   2023.04.20  5750.0   10.0  5750.0  5810.0  5700.0   5169990.0
4   2023.04.21  5710.0   40.0  5750.0  5760.0  5590.0   5023455.0
3   2023.04.24  5710.0    0.0  5700.0  5800.0  5680.0   3219107.0
2   2023.04.25  5680.0   30.0  5730.0  5770.0  5640.0   4080030.0
1   2023.04.26  5640.0   40.0  5600.0  5710.0  5560.0   3286854.0
13  2023.04.27  5700.0   60.0  5650.0  5730.0  5530.0   4912882.0
12  2023.04.28  5680.0   20.0  5820.0  5970.0  5660.0  14219155.0
11  2023.05.02  5530.0  150.0  5680.0  5690.0  5450.0   6680564.0
10  2023.05.03  5380.0  150.0  5480.0  5590.0  5360.0   5077133.0
9   2023.05.04  5350.0   30.0  5370.0  5450.0  5350.0   2969413.0
5   2023.05.08  5430.0   80.0  5390.0  5490.0  5360.0   2899789.0
4   2023.05.09  5610.0  180.0  5430.0  5720.0  5430.0   6775294.0
3   2023.05.10  5630.0   20.0  5630.0  5680.0  5560.0   3183827.0
2   2023.05.11  5600.0   30.0  5640.0  5700.0  5580.0   2755988.0
1   2023.05.12  5470.0  130.0  5580.0  5580.0  5440.0   3407581.0
13  2023.05.15  5530.0   60.0  5470.0  5590.0  5410.0   2229958.0
12  2023.05.16  5480.0   50.0  5520.0  5570.0  5450.0   1979941.0
11  2023.05.17  5490.0   10.0  5460.0  5510.0  5440.0   1983153.0
10  2023.05.18  5570.0   80.0  5520.0  5580.0  5490.0   2417850.0
9   2023.05.19  5680.0  110.0  5600.0  5750.0  5580.0   3731494.0
5   2023.05.22  5940.0  260.0  5710.0  5950.0  5710.0  13930463.0
4   2023.05.23  6040.0  100.0  5990.0  6080.0  5870.0  10837813.0
3   2023.05.24  6210.0  170.0  6020.0  6300.0  5990.0  18347230.0
2   2023.05.25  6140.0   70.0  6180.0  6260.0  6080.0   6321557.0
1   2023.05.26  6100.0   40.0  6110.0  6160.0  5970.0   7562058.0

In [19]:
a = df[df['전일비'] > 100]
# b = df[df['날짜'] == '2023.05.11']['종가'].values[0]
print(a)
# print(b)

            날짜      종가    전일비      시가      고가      저가         거래량
12  2023.04.14  5660.0  190.0  5530.0  5760.0  5470.0  11186235.0
11  2023.05.02  5530.0  150.0  5680.0  5690.0  5450.0   6680564.0
10  2023.05.03  5380.0  150.0  5480.0  5590.0  5360.0   5077133.0
4   2023.05.09  5610.0  180.0  5430.0  5720.0  5430.0   6775294.0
1   2023.05.12  5470.0  130.0  5580.0  5580.0  5440.0   3407581.0
9   2023.05.19  5680.0  110.0  5600.0  5750.0  5580.0   3731494.0
5   2023.05.22  5940.0  260.0  5710.0  5950.0  5710.0  13930463.0
3   2023.05.24  6210.0  170.0  6020.0  6300.0  5990.0  18347230.0

In [17]:
max = df['종가'].max()
df[df['종가'] == max]['날짜'].values[0]

'2023.05.24'

In [ ]:
plt.rc('font', family='Malgun Gothic')
plt.figure(figsize=(15, 5))
plt.title(title)
plt.xticks(rotation=45)
plt.plot(df['날짜'], df['종가'], 'co-')
plt.grid(color='gray', linestyle='--')
plt.show()
plt.savefig(f'{title}.png')

In [ ]:
a = np.array([[1,2,3]
          [4,5,6]])